<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]

  # Não redirecionar chamadas para a API
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/api/
  RewriteRule . /index.html [L]
</IfModule>

# Impedir listagem de diretórios
Options -Indexes

# Configurações de PHP (opcional)
<IfModule mod_php.c>
  php_value upload_max_filesize 64M
  php_value post_max_size 64M
</IfModule>
